<p-dialog [(visible)]="displayModal" [modal]="true" [style]=width [resizable]="false" [draggable]="true">
  <ng-template pTemplate="header">
    <h1 *ngIf="currentIndex == 0">Welcome to Algo Visualizer!</h1>
    <h1 *ngIf="currentIndex == 1">What is a path finding algorithm?</h1>
    <h1 *ngIf="currentIndex == 2">Picking an algorithm</h1>
    <h1 *ngIf="currentIndex == 3">Adding walls and weights</h1>
    <h1 *ngIf="currentIndex == 4">Dragging nodes</h1>
    <h1 *ngIf="currentIndex == 5">Visualizing and more</h1>
    <h1 *ngIf="currentIndex == 6">Enjoy</h1>
  </ng-template>
  <div style="text-align: justify">
    <div *ngIf="currentIndex == 0">
      <h3 style="text-align: center; margin-bottom: 15px">
        This short tutorial will walk you through all of the features of this
        application.
      </h3>

      <p style="text-align: center; margin-bottom: 10px" class="p-m-0">
        If you want to dive right in, feel free to press the "Skip Tutorial"
        button below. Otherwise, press "Next"!
      </p>
    </div>
    <div *ngIf="currentIndex == 1">
      <h3 style="text-align: center; margin-bottom: 15px">
        At its core, a path finding algorithm seeks to find the shortest path
        between two points. This application visualizes various path finding
        algorithms in action, and more!
      </h3>

      <p style="text-align: center; margin-bottom: 10px" class="p-m-0">
        All of the algorithms on this application are adapted for a 2D grid,
        where 90 degree turns have a "cost" of 1 and movements from a node to
        another have a "cost" of 1.
      </p>
    </div>

    <div *ngIf="currentIndex == 2">
      <h3 style="text-align: center; margin-bottom: 15px">
        Choose an algorithm from the "Algorithms" drop-down menu.
      </h3>

      <p style="text-align: center; margin-bottom: 25px" class="p-m-0">
        Note that some algorithms are <b>unweighted</b>, while others are
        <b>weighted</b>. Unweighted algorithms do not take turns or weight nodes
        into account, whereas weighted ones do. Additionally, not all algorithms
        guarantee the shortest path.
      </p>

      <div style="display: flex; justify-content: center; margin: 0 auto">
        <img src="../../assets/images/algo-dropdown.png" style="margin: auto; border: 1px solid white" />
      </div>
    </div>
    <div *ngIf="currentIndex == 3">
      <h3 style="text-align: center; margin-bottom: 15px">
        Double click on any cell to start adding walls and click on any cell to
        stop creating walls.<br />
        Move on the cell while pressing "W" to add a weight.
      </h3>

      <p style="text-align: center; margin-bottom: 25px" class="p-m-0">
        Walls are impenetrable, meaning that a path cannot cross through them.
        Weights, however, are not impassable. They are simply more "costly" to
        move through. In this application, moving through a weight node has a
        "cost" of 15.
      </p>

      <div style="display: flex; justify-content: center; margin: 0 auto"></div>
    </div>
    <div *ngIf="currentIndex == 4">
      <h3 style="text-align: center; margin-bottom: 15px">
        Click and drag the start and end nodes to move them.
      </h3>
    </div>
    <div *ngIf="currentIndex == 5">
      <h3 style="text-align: center; margin-bottom: 15px">
        Use the navbar buttons to visualize algorithms and to do other stuff!
      </h3>
      <p style="text-align: center; margin-bottom: 25px" class="p-m-0">
        You can clear the current path, clear walls and weights, clear the
        entire board, and adjust the visualization speed, all from the navbar.
        If you want to access this tutorial again, press "T".
      </p>
      <div style="display: flex; justify-content: center; margin: 0 auto">
        <img src="../../assets/images/navbar.png" style="margin: auto; border: 1px solid white" />
      </div>
    </div>
    <div *ngIf="currentIndex == 6">
      <h3 style="text-align: center; margin-bottom: 15px">
        I hope you have just as much fun playing around with this visualization
        tool as I had building it!
      </h3>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div style="display: flex">
        <p-button class="gutter" icon="pi pi-times" (click)="hideTutorial()" label="Skip"
          styleClass="p-button-success"></p-button>
      </div>
      <div style="display: flex; flex-wrap: wrap;">
        <p-button class="gutter" *ngIf="currentIndex > 0" icon="pi pi-arrow-left"
          (click)="currentIndex = currentIndex - 1" label="Previous" styleClass="p-button-success"></p-button>
        <p-button class="gutter" *ngIf="currentIndex < 6" icon="pi pi-arrow-right"
          (click)="currentIndex = currentIndex + 1" label="Next" styleClass="p-button-success"></p-button>
        <p-button class="gutter" *ngIf="currentIndex >= 6" icon="pi pi-arrow-right" (click)="hideTutorial()"
          label="Finish" styleClass="p-button-success"></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>