:host{
  display: flex; 
  height: 100%; 
  width: 100%; 
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 100%;
}

.container{
  @extend .graph-container;

}

.current {
  @extend .unvisited;
  border: thin solid rgb(175, 216, 248) !important;
  background-color: red !important;
}

.unvisited {
  display: flex;
  padding: 13px;
  border: thin solid rgba(72, 72, 72, 0.5);
  background-color: #101010;
}

.start {
  background-image: url("../../assets/images/start.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.end {
  background-image: url("../../assets/images/end.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.weight {
  background-image: url("../../assets/images/weight.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: white
}
.wall {
  background-color: black;
  border: 1px solid black;
}

.gutter{
  margin-bottom: 10px;
}

.hints{
  @extend .row;
  width: 100%;
  padding: 30px 0px 0px 0px;
  flex-wrap: wrap;

  .column{
    margin-left: 50px;
  }

  .text{
    margin: auto;
    font-size: 15px;
    color: white;
    margin-left: 10px;

  }

}

.visited-no-animation {
  @extend .unvisited;
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(0, 190, 218, 0.75);

}

.visited {
  @extend .unvisited;;
  animation-name: seenAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


@keyframes seenAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}