<div class="graph-container" #graphContainer>
  <div class="row" *ngFor="let row of graph; let i = index">
    <ng-container class="cell" *ngFor="let cell of row; let j = index">
      <div
        (dblclick)="startWallCreation(i, j)"
        (mouseenter)="createWall(i, j)"
        (click)="stopWallCreation()"
        (dragstart)="onDragStartEvent(i, j)"
        (dragover)="changeStart(i, j)"
        (drop)="resetModes()"
        id="{{ i }}-{{ j }}"
        [ngClass]="{
          wall: cell.wall,
          start: i === startPoint[0] && j === startPoint[1],
          end: i === endPoint[0] && j === endPoint[1]
        }"
        class="unvisited"
      ></div>
    </ng-container>
  </div>
</div>

<button (click)="visualize()" [disabled]="isAnimationInProgress">visualize</button>
