<ng-container *ngIf="!isMobileOrTablet; else mobileMessage">
  <app-navbar></app-navbar>
  <app-shortest-distance></app-shortest-distance>
  <app-tutorial
    (hideTutorialEvent)="stopTutorial()"
    [displayModal]="isTutorialVisible"
  ></app-tutorial>
</ng-container>

<ng-template #mobileMessage>
  <div class="mobile-message-box">
    <h1>Sorry!!</h1>
    <p>
      Tablets or Mobile is not supported as of yet.
    </p>
    <p>
        Please open through a laptop/computer to view this demo
    </p>
  </div>
</ng-template>
