* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #101010;
    font-family: 'Lato' ,Helvetica, sans-serif;
}


@font-face {
    font-family: "Lato";
    src: local("Lato"), url(./assets/fonts/Lato-Regular.ttf) format("truetype");
}
